language: ruby
rvm:
- 2.4.1
sudo: false
script: bundle exec rake deploy
env:
  global:
    secure: cyvD567lJ4kWbc9iZ2zjp37TBc69HrqJV+F6nuADrlVvD3F6cr8UmctvzfsHJi1SOWdnvtXLh1S38wmMWxma9bepoW6fdhKWc3353Q0CXPtKxDJdLslLMPS4hDmvqoqPTJ/vUwV1D9RD25brA3JEfQM6fYGaW4lJyq0WdAvOgLNO/H5HGIPqFHoiLH6FEkiDgOyHFTc60ENB1/jiBosCePZbAEPp5SiPzKWvWrJlGr4VYsfbyeHoFqTWMrR5QVRkOjJlYkunikr/y09BWiHnJgtxKeY4LghoBM2l6alqEBFmpTf4pMI60fht8IFzSiKGN8tlqheBobVqjT2I7lS2WBjJuYkSLIP6R6ISm83hjIMe9nNLkeYzKYMTIR+qCkGQkMxo2c38K6WnKnWHgJ15VaUbgd+3W9z29hQS5R2m167BYiESDy882AwncdZB70dQ41z5X/P0PJ54Ps5jPfoCc/pTEuG2SDuW6GBEK8IT7MhYQo/bi/HvFoUVQrw5XweGXZKBn9DNa3mlA3F2D4rWz9tcT5CB84c9vCDpk1Re62dys8lPo+PSXhDnphY+b7F7KmAH7Zk6q4Rm+6Dhmq2DvsA4slbsV4Qv9pQzBXNiwaqJd9GKJ10hg3wFUqPqjWMMv2ieDK8uy9mFkqX+v+gj4921Er+0kzW+que7ytM3i3I=
